:root {
  --primary-white-color: #ffffff;
  --hero-bgc: #2f303a;
  --accent-color: #28a745;
  --hero-primary-text: #e9e9e9;
  --cases-text-color: #333333;
  --team-text-color: #333333;
  --blog-bgc: #0284D0;
}
