<section id="blog" class="blog container">
  <div class="blog__thumb">
    <picture>
      <source
        srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x"
        type="image/jpg"
      />
      <source
        srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
        type="image/webp"
      />
      <img src="./images/home/blog.jpg" alt="Blog" class="blog__image" />
    </picture>
  </div>
  <div class="blog__container">
    <p class="blog__caption">April 16 2020</p>
    <h2 class="blog__title">Blog Post One</h2>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="blog__btn">Read Our Blog</button>
  </div>
</section>
