<footer class="footer container">
  <div class="footer__box">
    <svg class="footer__icons" width="40" height="35">
      <use href="./images/icon/social.svg#social-f"></use>
    </svg>
    <svg class="footer__icons" width="40" height="35">
      <use href="./images/icon/social.svg#social-t"></use>
    </svg>
    <svg class="footer__icons" width="40" height="35">
      <use href="./images/icon/social.svg#social-y"></use>
    </svg>
    <svg class="footer__icons" width="40" height="35">
      <use href="./images/icon/social.svg#social-i"></use>
    </svg>
  </div>
  <p class="footer__caption">Copyright © 2021 - FinanceLedger</p>
</footer>
