<header class="header">
  <div class="header__container container">
    <div class="logo">
      <svg class="logo__icon">
        <use href="./images/icon/logo.svg#icon-logo"></use>
      </svg>
      <span class="logo__title logo__title-primary">Finance</span>
      <span class="logo__title logo__title-secondary">Ledger</span>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="http://" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="http://" class="nav__link">About</a></li>
        <li class="nav__item"><a href="http://" class="nav__link">Cases</a></li>
        <li class="nav__item"><a href="http://" class="nav__link">Blog</a></li>
        <li class="nav__item">
          <a href="http://" class="nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
