<header class="header">
  <div class="logo">
    <svg class="logo__icon">
      <use href="./images/logo/logo.svg#icon-logo"></use>
    </svg>
    <span class="logo__primary">Finance</span>
    <span class="logo__secondary">Ledger</span>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li><a href="http://" class="nav__link">Home</a></li>
      <li><a href="http://" class="nav__link">About</a></li>
      <li><a href="http://" class="nav__link">Cases</a></li>
      <li><a href="http://" class="nav__link">Blog</a></li>
      <li><a href="http://" class="nav__link">Contacts</a></li>
    </ul>
  </nav>
</header>
