<header class="header opacity-by-scroll">
  <div class="header__container container">
    <div class="logo">
      <svg class="logo__icon">
        <use href="./images/icon/logo.svg#icon-logo"></use>
      </svg>
      <span class="logo__title logo__title-primary">Finance</span>
      <span class="logo__title logo__title-secondary">Ledger</span>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link" data-anchor>Home</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" data-anchor>About</a>
        </li>
        <li class="nav__item">
          <a href="#cases" class="nav__link" data-anchor>Cases</a>
        </li>
        <li class="nav__item">
          <a href="#blog" class="nav__link" data-anchor>Blog</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link" data-anchor>Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
