.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0.8;
  visibility: visible;
  pointer-events: visible;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1360px;
  }
}
.opacity-by-scroll {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
