.logo {
  display: flex;
  align-items: center;
  transform: scale(1);
  @media screen and (max-width: 767px) {
    padding-top: 22px;
  }
  @media screen and (min-width: $tablet) {
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

  & .logo__icon {
    width: 40px;
    height: 35px;
    fill: var(--logo-icon-color);
  }
  & .logo__title {
    font-size: 32px;
    line-height: 1.32;

    @media screen and (min-width: $tablet) {
      font-size: 35px;
      line-height: 1.21;
    }
  }
  & .logo__title-primary {
    color: var(--logo-text-primary);
  }
  & .logo__title-secondary {
    color: var(--logo-text-primary);
  }
}
