.logo {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding-top: 22px;
  }
  @media screen and (min-width: $tablet) {
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & .logo__icon {
    width: 40px;
    height: 35px;
    fill: var(--accent-color);
  }
  & .logo__title {
    font-size: 32px;
    line-height: 1.32;

    @media screen and (min-width: $tablet) {
      font-size: 35px;
      line-height: 1.21;
    }
  }
  & .logo__title-primary {
    color: var(--accent-color);
  }
  & .logo__title-secondary {
    color: var(--primary-white-color);
  }
}
