.nav {
  margin: 0;
  & .nav__list {
    display: flex;
    gap: 12px;
    @media screen and (min-width: $tablet) {
      gap: 20px;
    }
  }
  & .nav__item {
    display: flex;
  }
  & .nav__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding-top: 12px;
    padding-bottom: 12px;

    color: var(--nav-text-color);

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 1.56;
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }
}
